Tellegram_chatbot.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "12349098-ac9d-42b4-9fca-c5c89ec3860c",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -240,
        220
      ],
      "webhookId": "912e007f-19d9-4b5a-a90e-12ba01c9978d",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "huJhdE3SynJvux26",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0a236099-525e-4748-a57d-8b8e2c63c48b",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "24b7e8b8-6fce-4ddc-94b6-30b852891995",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{  $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "id": "2dcea09d-97ca-4b3c-8e09-dc7aeed32cf9",
      "name": "Text Or Voice",
      "type": "n8n-nodes-base.switch",
      "position": [
        -20,
        220
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a personal assistant chatbot designed to help users fulfill a wide range of requests efficiently and accurately.\n\nWhen a user asks you to perform a task involving the current date or time, always refer to: {{$now}}.\n\n# Instructions\nListen carefully to the user's request and identify the action, context, and any specific details provided.\n\nIf the task involves scheduling, reminders, notes, or creating content, use {{$now}} as the reference for the current date and time.\n\nAlways complete the task clearly and effectively.\n\n# Output Rules\nProvide the final result of the task in a clear and concise format.\n\nthe name of the user is {{ $('Telegram Trigger').item.json.message.from.first_name }}\nDo not include any external links.\n\nSimply state where or how the result has been handled (e.g., \"Note added to your to-do list.\", \"Reminder set for tomorrow at 9:00 AM.\", etc.)."
        }
      },
      "id": "6fca43d9-f1d6-4007-b963-9d986c0ef1f0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        400,
        120
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').first().json.message.chat.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "bfdc044c-bd53-44b4-bab7-2823e83e3374",
      "name": "Send Response To Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        780,
        120
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "huJhdE3SynJvux26",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "590b803f-833c-4854-bde7-5241d25b2b32",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "303e0b5d-3d37-48fc-bbd3-ce62dbe7ef78",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ab79320-aa1f-49df-88c7-6b333c6eabca",
      "name": "Send Context To AI Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        200,
        120
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').first().json.message.chat.id}}",
        "text": "={{ $('Telegram Trigger').item.json.message.from.first_name }} Please Send Me Text Message ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "bafe90e0-1eae-420b-b989-73cbb68fd9d2",
      "name": "Send Response To Telegram1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        200,
        320
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "huJhdE3SynJvux26",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "51762c5c-118f-4138-8be5-822cacdcb0ba",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        460,
        360
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "XQms6I9inlzx4BH8",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Text Or Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Or Voice": {
      "main": [
        [
          {
            "node": "Send Context To AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Response To Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response To Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Context To AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "update_id": 186385040,
        "message": {
          "message_id": 81,
          "from": {
            "id": 7846690193,
            "is_bot": false,
            "first_name": "Nassim",
            "last_name": "Baheddi",
            "username": "Nvssimm",
            "language_code": "en"
          },
          "chat": {
            "id": 7846690193,
            "first_name": "Nassim",
            "last_name": "Baheddi",
            "username": "Nvssimm",
            "type": "private"
          },
          "date": 1751994431,
          "text": "Try"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3cde14b07a43f18c544e1abcab8b8e9dc2b49a0e466e6511c4f02c3298390f2b"
  }
}
